@charset "utf-8";

.footer {
  background-color: var(--color-main);
}

.footer .container {
  color: white;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  line-height: 1.5;
  font-weight: 300;
}

.footer .f_logo {
  padding: 0 0 30px;
}

.footer .f_logo img {
  max-width: 150px;
}
